a.fork-example, a.fork-example-set {
    padding: 0 0.3em;
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
}

a.fork-example:hover, a.fork-example-set:hover {
    background-color: #ABCDEF;
    text-decoration: none;
}

li.fork {
    margin: 0;
    list-style: none;
    display: block;
    padding: 0 0 0 1.5em;
    font-size: 0.8em;
    color: #030655;
}
