html {
    height: 100%;
    overflow: auto;
}

body {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    font-size: 12px;
    padding: 0;
    max-width: 100%;
    background-color: #343026;
    margin: 0 1% 0 1%;
    height: 100%;
    min-height: 100%;
}

div#header {
    width: 100%;
    height: 5%;
}

div#content {
    width: 100%;
    height: 93%;
}

div#footer {
    display: none;
}

div#top-pane {
    height: 50%;
    overflow: hidden;
    margin-bottom: 0.5%;
}

div#examples {
    width: 24.5%;
    float: left;
    height: 100%;
}

div#vertical-thumb {
    float: left;
    width: 0.5%;
    height: 100%;
    cursor: col-resize;
    position: absolute;
    left: 25%;
    /*background-color: YELLOW;*/
}

div#code-area {
    float: right;
    width: 75%;
    height: 100%;
    background-color: WHITE;
}

div#examples-title {
    padding: 0 1em 0 1em;
    line-height: 2em;
    height: 8%;
    overflow: hidden;
    background-color: #ABCEDF;
    border-radius-topleft: 5px;
    -webkit-border-radius-topleft: 5px;
    -moz-border-radius-topleft: 5px;
}

div#example-sets {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0.5em 0 0 0.5em;
    height: 91%;
    background-color: white;
}

div#example-sets ul {
    padding: 0;
    margin: 0;
    display: block;
}

li.example-set, li.example {
    margin: 0;
    padding: 0 0 0 0.5em;
    list-style: none;
    display: block;
}

div.example-docs, li.example textarea {
    display: none;
}

textarea.script {
    display: none;
}

a.example-set-name {
    margin: 0.2em 0 0 0;
    padding: 0 0 0 1em;
    text-decoration: none;
    color: black;
    display: inline;
    cursor: pointer;
    background-image: url('../images/opened.png');
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 16px;
}

a.example-name {
    cursor: pointer;
    margin: 0 0.2em 0 1em;
    text-decoration: none;
    color: #5A5A5A;
    line-height: 16px;
    vertical-align: middle;
}

a.example-name-selected {
    background-color: #FBD877;
    font-weight: bold;
}

ul.toolbar {
    list-style: none;
    padding: 0;
    margin: 0 1em 0 0;
    height: 100%;
    float: right;
}

ul.toolbar li {
    float: left;
    margin: 0.3em 0 0 0;
    width: auto;
    text-align: center;
}

ul.toolbar a {
    background-position: left center;
    background-image: url('../images/buttonbg.png');
    padding: 0.5em 1em 0.5em 1em;
    display: block;
    text-decoration: none;
    color: BLACK;
    background-color: #E6E6E6;
    border: SOLID 1px #BBBBBB;
}

ul.toolbar li:first-child a {
    border-radius-bottomleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    border-radius-topleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-radius-topleft: 5px;
}

ul.toolbar li:last-child a {
    border-radius-bottomright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-radius-bottomright: 5px;
    border-radius-topright: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius-topright: 5px;
}

ul.toolbar a:hover {
    background-color: #999999;
    color: WHITE;
    background-image: none;
}

div#formattedCode {
    width: 100%;
    height: 100%;
}

textarea#code {
    display: none;
    font-size: 1.5 em;
    width: 100%;
    height: 100%;
}

div#horizontal-thumb {
    height: 1%;
    width: 98%;
    top: 50%;
    font-size: 0px;
    cursor: row-resize;
    position: absolute;
}

div#console {
    clear: both;
    height: 48%;
}

ul#console-toolbar {
    float: left;
    width: 2%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    align: right;
}

ul#console-toolbar li.tab {
    height: 135px;
    width: 32px;
    background-image: url('../images/tab-closed.png');
    background-repeat: no-repeat;
    float: right;
    clear: both;
    margin: 10px 0 -10px 0;
}

ul#console-toolbar a {
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 12px 0 0 8px;
}

div#console-content {
    float: left;
    width: 98%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

div#docs {
    padding: 0 1% 0 1%;
    height: 100%;
    overflow: auto;
}

iframe#console-iframe {
    display: none;
    border: none;
    width: 100%;
    height: 100%;
}

.sample {
    display: none;
}

.clear {
    clear: both;
}
