html {
    height: 100%;
}

body {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    font-size: 12px;
    padding: 0;
    max-width: 100%;
    overflow: auto;
    background-color: #343026;
    margin: 0 1% 0 1%;
    height: 100%;
    min-height: 100%;
}

div#header {
    width: 100%;
    height: 5%;
}

div#content {
    width: 100%;
    height: 93%;
}

div#footer {
    display: none;
}

div#top-pane {
    height: 50%;
}

div#examples {
    width: 24.5%;
    float: left;
    background-color: white;
    height: 100%;
}

div#vertical-thumb {
    float: left;
    width: 0.5%;
    height: 100%;
}

div.code-area {
    float: right;
    width: 75%;
    height: 100%;
    background-color: WHITE;
}

div#examples-title {
    padding: 0 1em 0 1em;
    line-height: 2em;
    height: 7%;
    overflow: hidden;
    background-color: #ABCEDF;
}

div#example-sets {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 1% 0 0 1%;
    height: 91%;
}

div#example-sets ul {
    padding: 0;
    margin: 0;
    display: block;
}

div#example-sets * {
    display: none;
}

li.example-set, li.example {
    margin: 0;
    padding: 0 0 0 3%;
    list-style: none;
    display: block;
}

div.example-docs, li.example textarea {
    display: none;
}

a.example-set-name {
    margin: 0.2em 0 0 0;
    padding: 0 0 0 1em;
    text-decoration: none;
    color: black;
    display: inline;
    cursor: pointer;
    background-image: url('images/opened.png');
    background-repeat: no-repeat;
    background-position: left center;
}

a.example-name {
    cursor: pointer;
    display: inline;
    margin: 0.2em 0 0 0;
    padding: 0 1em 0 1em;
    text-decoration: none;
    color: #5A5A5A;
    display: table;
}

a.example-name-selected {
    background-color: #FBD877;
    font-weight: bold;
}

ul#toolbar {
    list-style: none;
    padding: 0;
    margin: 0 1em 0 0;
    height: 100%;
    float: right;
}

ul#toolbar li {
    float: left;
    margin: 0.5em 1em 0 0em;
    background-color: #A3B7CB;
    width: 12em;
    text-align: center;
}

ul#toolbar a {
    padding: 0.5em 0 0.5em 0;
    display: block;
    text-decoration: none;
    color: BLACK;
    width: 100%;
    background-image: -moz-linear-gradient(top, #FFFFFF, #A3B7CB); /* FF3.6 */
  	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #A3B7CB)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#A3B7CB'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#A3B7CB')"; /* IE8 */
}

ul#toolbar a:hover {
    background-image: -moz-linear-gradient(top, #FFFFFF, #A9DBF6); /* FF3.6 */
  	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #A9DBF6)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#A9DBF6'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#A9DBF6')"; /* IE8 */
}

div#formattedCode {
    width: 100%;
    height: 100%;
}

textarea#code {
    display: none;
    font-size: 1.5 em;
    width: 100%;
    height: 100%;
}

div#horizontal-thumb {
    height: 1%;
    font-size: 0px;
}

div#console {
    clear: both;
    height: 48%;
}

div#console-toolbar{
	float : left;
	width : 2%;
	height: 100%;
	overflow : hidden;
}

div#console-toolbar ul{
	margin : 0;
	padding : 0; 
	list-style : none;
	width : 30px;
	float : right;
}

div#console-toolbar li{
	background-image : url('images/tab-closed.png');
	height : 120px;
	background-repeat : no-repeat;
	cursor : pointer;
	padding : 20px 0 0 7px;
}

div#console-content{
	float : left;
	width : 98%;
	height : 100%;
    background-color: white;
	overflow : hidden;
}

div#docs {
	padding : 0 1% 0 1%;
	height : 100%;
	overflow : auto;
}

iframe#console-iframe {
    display: none;
    border: none;
    width: 100%;
    height: 100%;
}

.sample {
    display: none;
}

.clear {
    clear: both;
}
